@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/
body {
  /* @apply bg-amber-50 text-slate-700 !important; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.fc .fc-button .fc-icon {
  height: 1.05em;
}

/* .fc-daygrid-block-event .fc-event-time,
.fc-daygrid-block-event .fc-event-title {
  font-size: 1.5em;
}
.fc-direction-ltr .fc-daygrid-event .fc-event-time {
  font-size: 1.5em;
} */
.fc-daygrid-block-event .fc-event-time,
.fc-daygrid-block-event .fc-event-title {
  padding: 1px 5px;
}

.fc-event-title {
  text-wrap: pretty;
  text-overflow: ellipsis;
}

:root {
  --fc-small-font-size: 20px;
}

.fc-daygrid-dot-event {
  flex-wrap: wrap;
  padding: 2px;
}

.fc-day:nth-child(2n) {
  @apply bg-orange-50;
}

.avatar-img {
  transition: all 0.2s ease-in-out;
  /* outline: 1px solid red; */
}
